<!DOCTYPE html>

<html ng-app="geektic">
    <head>
        <title>Geektic</title>
        
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        
        <style>
        	.geek
        	{
        		max-width: 150px;
        		background-color: rgb(209,139,169);
        		border-radius: 10px;
        	}
        	a
        	{
        		font-weight: bold;
        	}
        </style>
    </head>
    <body ng-controller="GeekCtrl" ng-view>
    	<div class="text-center">
    		<img src="http://www.fmcorz.info/public/adopteunmec-hacked.png"/>
	        <h1>Geektic</h1>
	        <form name="form" class="jumbotron container" style="max-width: 330px;">
	        	<fieldset>
	        		<legend>Sexe : </legend>
	        		
	        		<label for="F">Femme </label>
	        		<input type="radio" id="F" name="sexe" value="F" ng-model="sexe"/>
	        		<label for="H">Homme </label>
	        		<input type="radio" id="H" name="sexe" value="M" ng-model="sexe"/>
	        		
	        	</fieldset>
	        	<br/>
	        	<fieldset>
	        		<legend>Int&eacute;r&ecirc;t : </legend>
	        		
	        		<select ng-model="interet" ng-options="interet.nom for interet in interets">
					</select>
	        	</fieldset>
	        	<br/>
	        	<button ng-click="chercher()" class="btn btn-primary btn-lg">Chercher</button>
	        </form>
	        
	        
	        <div ng-repeat="geek in geeks">
	        	<div ng-click="details = ! details" class="jumbotron container geek">
	        		<p>{{geek.nom}}</p>
	        		<div ng-show="details">
		        		<a href="#/geek/{{geek.num}}">Voir les d&eacute;tails...</a>
	        		</div>
	        	</div>
	        </div>
        </div>
        <script src="/js/angular.js"></script>
        <script src="/js/angular-route.js"></script>
        <script src="/js/app.js"></script>
    </body>
</html>